asttokens==3.0.0
bleach==6.2.0
decorator==5.2.1
docutils==0.21.2
executing==2.2.0
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
readme-renderer==36.0
restview==3.0.2
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.13
webencodings==0.5.1
